mounted_datasets/
datasets/
datasets/*
workspace/aei_with_mmtrack/mmyolo/checkpoint/*.pth
workspace/PretrainedModel_by_JeonYT/
PretrainedModel_by_JeonYT/new_weights/
results/
results/*
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pth
*.pt
*.log
*.ckpt
*.mp4
*.mov
*.avi
*.jpg